body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 137, 157);
}

.signInForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    gap: 10px;
    margin-top: 25vh;
    background-color: rgb(255, 227, 235);
    padding: 80px;
    align-items: center;
    border-radius: 10px;

}

.signInForm a{
    color: rgb(255, 97, 149);
    
    font-weight: bold;
}


.signInForm button {
    background-color: rgb(255, 45, 115);
    width: 100px;
    height: 60x;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 10px;
}

.signInForm input {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

::placeholder {
 color: rgba(255, 157, 173, 1);
}

#hlinkcentered {
    text-align: center;
    margin-top: 10px;
}



/* home.html style */

.navBar {
    background-color: rgb(255, 101, 160);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar #playerNameDisplay{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navBar #logoutBtn {
    background-color: rgb(255, 45, 115);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}


.creatureImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.bonInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#creatureName {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

#statsChart {
    margin: 50px;
 }